<form [formGroup]="formulaire" (ngSubmit)="onSubmit()">
  <label for="customer">Customer :</label>
  <select id="customer" formControlName="customer">
    <option [value]="null" disabled selected>-- Select a customer --</option>
    <option *ngFor="let customer of customers" [value]="customer.customerId">{{customer.name}}</option>
  </select>

  <label for="game">Game :</label>
  <select id="game" formControlName="game">
    <option *ngFor="let game of games" [value]="game.gameId">{{ game.title }}</option>
    <option [value]="null" disabled selected>-- Select a game --</option>
  </select>


    <label for="bookingDate">Booking date</label>
    <input type="date" id="bookingDate" formControlName="bookingDate">

    <label for="bookingStatus">Status :</label>
    <select id="bookingStatus" formControlName="bookingStatus">
      <option value="Confirmed">Confirmed</option>
      <option value="Pending">Pending</option>
      <option value="Cancelled">Cancelled</option>
    </select>

    
    <button type="submit" [disabled]="formulaire.invalid">Booking</button>
</form>
