.customer-list {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f5f5f5; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }
  
    table {
      width: 100%;
      border-collapse: collapse; 
  
      thead {
        background-color: #007BFF; 
        color: #fff;
  
        th {
          padding: 12px;
          text-align: left;
          border-bottom: 2px solid #0056b3;
        }
      }
  
      tbody {
        tr {
          &:nth-child(even) {
            background-color: #e9ecef; 
          }
  
          &:hover {
            background-color: #dfe6e9; 
          }
  
          td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
          }
        }
      }
    }
  }
  .filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .search-container {
    flex: 1;
    
    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s;
      
      &:focus {
        border-color: #007BFF; 
      }
    }
  }
  
  .platform-filter,
  .status-filter {
    flex: 0 0 200px;
    select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.3s;
      
      &:focus {
        border-color: #007BFF;
      }
    }
  }
  